.title-logo{
  position: relative;
  height: 100%;
  width: 100%;
}
.title-name{
   width: 300px;
}
.captain, .ichigo, .espada{
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.captain{
  background-color: rgb(43, 236, 143);
  box-shadow: 0px 0px 20px rgb(244, 231, 231);
}
.captain:hover{
  color: rgb(43, 236, 143);
  background-color: rgb(255, 255, 255);
}
.ichigo{
  margin-left: 70px;
  background-color: orange;
  box-shadow: 0px 0px 25px rgb(255,255,255);
}
.ichigo:hover{
  background-color: rgb(255, 255, 255);
  color: orange;
}
.espada{
  margin-left: 70px;
  background-color: rgb(35, 212, 228);
  box-shadow: 0px 0px 20px rgba(255,255,255);
}
.espada:hover{
  background-color: rgb(255, 255, 255);
  color:rgb(35, 212, 228);
}
.firstLine{
  color: white;
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}
.secondLine{
  color: white;
  font-family: helvetica;
  font-size: 20px;
  font-weight: bold;

}
.thirdLine{
  color: white;
  font-family: helvetica;
  font-size: 25px;
  margin-left: 450px;
  margin-top: 50px; 
 }



.title-gotei{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.bya{
  width: 15%;
  height: 32%;
  object-fit: cover;
  object-position: right;
  border-radius: 60px; 
  margin-left: 5vw; 
  cursor: pointer;
}
.bya:hover, .hitsu:hover, .shun:hover, .keni:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.yama:hover, .aizen:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
.hitsu{
  width: 15%;
  height: 32%;
  object-fit: cover;
  object-position: left; 
  border-radius: 60px;
  margin-left: 6vw; 
  cursor: pointer;
}
.yama{
  width: 18%;
  height: 40%;
  object-fit: cover;
  object-position: center; 
  border-radius: 20px;
  margin-left: 17vw;  
  margin-right: 10vw;
  cursor: pointer;
}
.shun{
  width: 16%;
  height: 34%;
  object-fit: cover;
  object-position: center; 
  border-radius: 60px;
  margin-left: 6vw;
  margin-top: 5vh; 
  cursor: pointer;
}
.keni{
  width: 16%;
  height: 34%;
  object-fit: cover;
  object-position: center; 
  border-radius: 60px;
  margin-left: 18vw; 
  margin-top: 5vh; 
  cursor: pointer;
}
#got{
  display: inline-block;
  width: 94vw;
  height: 94vh;
  margin-top: 1.5vh;
  margin-right: 5vw;
}




.title-espada{
  font-size: 40px;
  font-weight: bold;
  text-align: center;

}
.uluq{
  width: 175px;
  height: 175px;
  object-fit: cover;
  object-position: right; 
  border-radius: 60px;
  margin-left: 70px;  
  cursor: pointer;
}
.aizen:hover, .bara:hover, .grim:hover, .stark:hover, .uluq:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}
.bara{
  width: 190px;
  height: 190px;
  object-fit: cover;
  object-position: left; 
  border-radius: 60px;
  margin-left: 335px;  
  cursor: pointer;
}
.aizen{
  width: 220px;
  height: 220px;
  object-fit: cover;
  object-position: center; 
  border-radius: 60px;
  margin-left: 298px;  
  cursor: pointer;
}
.stark{
  width: 190px;
  height: 190px;
  object-fit: cover;
  object-position: center; 
  border-radius: 60px;
  margin-left: 290px; 
  margin-top: 17px; 
  cursor: pointer;
}
.grim{
  width: 175px;
  height: 175px;
  object-fit: cover;
  object-position: left; 
  border-radius: 60px;
  margin-left: 290px; 
  cursor: pointer;
}

.ichi{
box-shadow: 0px 0px 15px rgb(0,0,0);
width: 30vw;
height: 90vh;
margin-top: 5vh;
}



body{
  margin: 0;
}
.indexDiv{
    margin: 0;
}
#title{
	display: inline-block;
	position: absolute;
	top: 20;
  left: 0;
  margin-left: 25vw;
  margin-top: 3vh;
}
#buttons{
	position: absolute;
	display: inline-block;
	top: 30;
	left: 0;
	vertical-align: center;
  margin-top: 22vh;
  margin-left: 12vw;

}
.text{
	display: inline-block;
	position: absolute;
	top: 100x;
	left: 0;
  margin-top: 50vh;
  margin-left: 4vw;
}
